@model chtotonaASP.Models.Role

@{
    ViewData["Title"] = "Редактировать роль";
}

<h2>Редактировать роль</h2>

<form asp-action="Edit" method="post">
    <input type="hidden" asp-for="IdRole" />
    <div class="form-group">
        <label asp-for="NameRole">Название роли</label>
        <input asp-for="NameRole" class="form-control" />
        <span asp-validation-for="NameRole" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-primary">Сохранить</button>
</form>
