@model chtotonaASP.Models.User

@{
    ViewData["Title"] = "Создать пользователя";
}

<h2>Создать пользователя</h2>

<form asp-action="Create" method="post">
    <div class="form-group">
        <label asp-for="FullName">полное имя</label>
        <input asp-for="FullName" class="form-control" />
        <span asp-validation-for="FullName" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Email">Почта</label>
        <input asp-for="Email" class="form-control" />
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Phone">Телефон</label>
        <input asp-for="Phone" class="form-control" />
        <span asp-validation-for="Phone" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="PasswordHash">Пароль</label>
        <input asp-for="PasswordHash" class="form-control" />
        <span asp-validation-for="PasswordHash" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="RoleId">Роль</label>
        <select asp-for="RoleId" class="form-control" asp-items="ViewBag.RoleId"></select>
        <span asp-validation-for="RoleId" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-primary">Создать</button>
</form>
