@model IEnumerable<chtotonaASP.Models.ProductType>

@{
    ViewData["Title"] = "ТИ продукта";
}

<h2>Тип продукта</h2>

<table class="table">
    <thead>
        <tr class="text-white">
            <th>ID</th>
            <th>Тип продукта</th>
            <th>Действия</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var review in Model)
        {
            <tr class="text-white">
                <td>@review.ProductTypeId</td>
                <td>@review.ProductType1</td>
                <td>
                    <a asp-action="Edit" asp-route-id="@review.ProductTypeId" class="btn btn-primary">Редактировать</a>
                    <form asp-action="Delete" asp-route-id="@review.ProductTypeId" method="post" style="display:inline;">
                        <button type="submit" class="btn btn-danger">Удалить</button>
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>

<a asp-action="Create" class="btn btn-success">Создать новый отзыв</a>
