@{
    ViewData["Title"] = "О нас";
}
    <div class="container mt-5">
        <h1 class="text-center"> Краткая инфомация и поддержка</h1>
        <div class="row mt-5">
            <div class="col-md-6">
                <h2>Добро пожаловать в магазин примогемов</h2>
            <p>Ищешь луну или кристаллы Genshin Impact? У нас всегда в наличии кристаллы сотворения для Геншин Импакт (их можно обменять на примогемы в самой игре), вы покупаете кристаллы сотворения и выводите их именно на свой UID в игре. Мы моментально пополняем UID для вас! Конечно, в нашем магазине можно приобрести кристаллы сотворения в подарок или себе лично. Донат в Геншин Импакт и Хонкай Стар Рейл с ГеншинДроп - это просто, удобно и выгодно! Становитесь частью нашего коммьюнити</p>
            </div>
            <div class="col-md-6">
                <h2>Свяжитесь с нами</h2>
                <p>Если у вас есть какие-либо вопросы или предложения, пожалуйста, не стесняйтесь обращаться к нам:</p>
                <ul>
                    <li>Email: info@genshindrop.com</li>
                    <li>Телефон: +7 123 456 7890</li>
                    <li>Адрес: Луначарского 15, строение 3, Москва, Россия</li>
                </ul>
            </div>
        </div>
    </div>

