@model chtotonaASP.Models.ProductsInOrder

@{
    ViewData["Title"] = "Создать товар в заказе";
}

<h2>Создать товар в заказе</h2>

<form asp-action="Create" method="post">
    <div class="form-group">
        <label asp-for="ProductId">Товар</label>
        <select asp-for="ProductId" class="form-control" asp-items="ViewBag.ProductId"></select>
        <span asp-validation-for="ProductId" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="UserId">Пользователь</label>
        <select asp-for="UserId" class="form-control" asp-items="ViewBag.UserId"></select>
        <span asp-validation-for="UserId" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Quantity">Количество</label>
        <input asp-for="Quantity" class="form-control" />
        <span asp-validation-for="Quantity" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-primary">Создать</button>
</form>
